.button {
    margin-left: 25% !important;
    margin-right: 25% !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .15rem red !important;
}

.bora-20 {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-radius: 20px !important;
}