.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: white;
    background-color: cadetblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.br-10 {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.bordoo {
    border-bottom: 2px solid black;
}

.selected {
    border: 5px solid red !important;
}