.commentList {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.commentList::-webkit-scrollbar {
    width: 10px;
}

.commentList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.commentList::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

.commentList::-webkit-scrollbar-thumb:hover {
    background: red;
}