.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    background-color: cadetblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.br-10 {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.bordoo {
    border-bottom: 2px solid black;
}

.bordo {
    border-bottom: 2px solid white;
}

.selected {
    border: 5px solid red !important;
}

.position {
    bottom: 4rem;
    margin-left: 25%;
    margin-right: 25%;
    display: none !important;
}

.my-3:hover .position {
    display: block !important;
}