.alertanru {
    font-size: 3rem !important;
    font-family: 'FontAwesome';
}

.red {
    color: red !important;
}

.fosi {
    font-size: 1.5rem;
}

.bord-gr {
    border: 3px solid green !important;
}